
@{
    ViewBag.Title = "LoginPage";
}

<h2>LoginPage</h2>

<div class="center-block">
    <form action="/Login/Login" method="post">
        <input type="text" class="form-control" placeholder="Enter UseName" name="UserName" required /><br />
        <input type="password" class="form-control" placeholder="Enter Password" name="Password" required /><br />
        <input type="submit" />
    </form>
</div>